/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img{
    max-width:100%;
    height:auto;
}
*,*::before,*::after{
    box-sizing:border-box;
}
/* css reset end */

.wrap{
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}
.header{
    margin-top: 1em;
    margin-bottom: 1em;
}
.header h1 a{
    background-image: url(images/HUAREN.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 160px;
    height: 50px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}
.content{
    display: flex;
}
/* 銷售通路 */
.content .searchSale{
    width: 100px;
    height: 100px;
    border: thick double rgb(208,208,208);
    border-radius: 5px;
    position: absolute;
    right: 10px;
    bottom: 5px;
    background-color: #fff;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content .searchSale:hover{
    background-color: rgb(238,238,238);
}
.content .searchSale h3{
    font-weight: bold;
    letter-spacing: 1px;
    background-color: rgb(238,238,238);
    padding: 5px 3px 5px 3px;
    color: rgb(128,128,128);
}
.content .searchSale p{
    font-weight: bold;
    color: rgb(128,128,128);
}
/* 銷售通路 */
.content .allPhotoContainer{
    border: 3px solid rgb(238,238,238);
}
.content .allPhotoContainer .Photo .PhotoOne{
    display: flex;
}
.content .allPhotoContainer .Photo .PhotoOne .phoneText{
    width: 50%;
    display: flex;
}
.content .allPhotoContainer .Photo .PhotoOne .phoneText .phoneTextPhoto,.content .allPhotoContainer .Photo .PhotoOne .phoneText .phoneTextP{
    width: 50%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content .allPhotoContainer .Photo .PhotoOne .phoneText .phoneTextPhoto{
    border-bottom: 3px solid rgb(238,238,238);
}
.content .allPhotoContainer .Photo .PhotoOne .phoneText .phoneTextP{
    background-color: rgb(238,238,238);
    border-bottom: 3px solid #fff;
}
.content .allPhotoContainer .Photo .PhotoOne .phoneText .phoneTextPhotoNone{
    border-bottom: none;
}
.content .allPhotoContainer .Photo .PhotoOne .phoneText .phoneTextPNone{
    border-bottom: none;
}
.content .allPhotoContainer .Photo .PhotoOne .phoneText .phoneTextP p{
    font-weight: bold;
    margin-top: 1em;
    line-height: 24px;
    color: #fff;
}
@media(max-width:720px){
    .content .allPhotoContainer .Photo .PhotoOne .phoneText .phoneTextP p{
        font-size: 14px;
    }
}
@media(max-width:430px){
    .content .allPhotoContainer .Photo .PhotoOne .phoneText .phoneTextP p{
        font-size: 12px;
    }
}
/* 銷售通路中間段 */
.content .allPhotoContainer .middleText{
    border-top: 3px solid rgb(238,238,238);
    border-bottom: 3px solid rgb(238,238,238);
    padding: 1em;
}
.content .allPhotoContainer .middleText .middleTextTitle{
    text-align: center;
    font-weight: bold;
}
.content .allPhotoContainer .middleText .middleTextTitle h3{
    margin-bottom: 0.5em;
    font-size: 24px;
}
.content .allPhotoContainer .middleText .middleTextContent{
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
    color: rgb(128,128,128);
}
@media(max-width:720px){
    .content .allPhotoContainer .middleText .middleTextTitle h3{
        font-size: 20px;
    }
    .content .allPhotoContainer .middleText .middleTextTitle p{
        font-size: 14px;
    }
    .content .allPhotoContainer .middleText .middleTextContent{
        font-size: 12px;
    }
}
@media(max-width:550px){
    .content .allPhotoContainer .middleText .middleTextContent{
        font-size: 10px;
    }
}
@media(max-width:430px){
    .content .allPhotoContainer .middleText .middleTextTitle h3{
        font-size: 16px;
    }
    .content .allPhotoContainer .middleText .middleTextTitle p{
        font-size: 12px;
    }
    .content .allPhotoContainer .middleText .middleTextContent{
        font-size: 10px;
    }
}
.content .deskTopNone{
    display: none;
}
.content .deskTopNone-one,.content .deskTopNone-two,.content .deskTopNone-three,.content .deskTopNone-four{
    display: none;
}
.content .leftMean{
    background-color: rgb(238,238,238);
    width: 15%;
    padding: 1.5em;
}
.content .leftMean ul{
    font-weight: bold;
    font-size: 20px;
}
.content .leftMean ul .space{
    color: transparent;
}
.content .leftMean ul li{
    font-weight: normal;
    font-size: 16px;
}
.content .leftMean ul li a{
    text-decoration: none;
    color: rgb(128,128,128);
    display: block;
    padding: 0.5em 0;
}
.content .leftMean ul li a:hover{
    background-color: #fff;
}
.content .rightContainer{
    width: 85%;
}
@media(max-width:1023px){
    .content .rightContainer{
        border-top: none;
        border-right: none;
    }
}
.content .rightContainer .bigIndex{
    background-image: url(images/index大圖設計圖.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    border-top: 3px dashed rgb(238,238,238);
    border-bottom: 3px dashed rgb(238,238,238);
    border-right: 3px dashed rgb(238,238,238);
}
.content .rightContainer .bigIndex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .rightContainer .bigIndex ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.content .rightContainer .bigIndex ul li{
    width: 160px;
    height: 300px;
    background-color: rgb(105,105,105);
    text-align: center;
    padding-top: 1em;
    position: relative;
}
.content .rightContainer .bigIndex ul li span{
    color: rgb(128,128,128);
    background-color: #fff;
    padding: 2px;
    letter-spacing: 2px;
}
.content .rightContainer .bigIndex ul li .upList ul{
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-left: 1.2em;
}
.content .rightContainer .bigIndex ul li .upList ul li{
    background-color: transparent;
    height: 35px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    text-align: left;
}
.content .rightContainer .bigIndex ul li .downList ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.content .rightContainer .bigIndex ul li .downList ul li{
    background-color: transparent;
    height: 35px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    text-align: right;
}
.content .rightContainer .bigIndex ul li .onlyList ul{
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}
.content .rightContainer .bigIndex ul li .onlyList ul li{
    background-color: transparent;
    height: 35px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    text-align: center;
}
.rightContainer .tshirtContainer,.rightContainer .lowerBodyContainer,.rightContainer .coatContainer,.rightContainer .coatVestContainer,.rightContainer .coatActivityContainer,.rightContainer .coatLongContainer,.rightContainer .otherArmbandContainer,.rightContainer .otherSportContainer,.rightContainer .otherHatContainer,.rightContainer .otherApronContainer,.rightContainer .otherStrapContainer,.rightContainer .otherScarfContainer,.rightContainer .otherSmallContainer{
    border-top: 3px solid rgb(238,238,238);
    border-right: 3px solid rgb(238,238,238);
    height: 100%;
}
.content .rightContainer .threeLinksContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
    border-right: 3px solid rgb(238,238,238);
}
.content .rightContainer .threeLinks .lineLink,.content .rightContainer .threeLinks .qaLink,.content .rightContainer .threeLinks .mapLink{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
.content .rightContainer .threeLinks .lineLink img,.content .rightContainer .threeLinks .qaLink img,.content .rightContainer .threeLinks .mapLink img{
    width: 15%;
}
.content .rightContainer .threeLinks .lineLink a,.content .rightContainer .threeLinks .qaLink a,.content .rightContainer .threeLinks .mapLink a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(128,128,128);
    padding: 2em 1em 2em 2em;
    display: block;
}
.content .rightContainer .threeLinks .lineLink a:hover,.content .rightContainer .threeLinks .qaLink a:hover,.content .rightContainer .threeLinks .mapLink a:hover{
    background-color: rgb(238,238,238);
    border-radius: 10px;
}
.content .rightContainer .threeLinks .lineLink a:hover,.content .rightContainer .threeLinks .qaLink a:hover,.content .rightContainer .threeLinks .mapLink a:hover{
    background-color: rgb(238,238,238);
}
/* QA頁面 */
.content .rightContainer .qa{
    color: rgb(128,128,128);
    padding: 2em;
    border-right: 3px solid rgb(238, 238, 238);
}
.content .rightContainer .qa ul span{
    font-size: 28px;
    display: block;
    margin-bottom: 1.5em;
    font-weight: bold;
}
.content .rightContainer .qa ul li{
    font-size: 20px;
    margin-top: 1.5em;
    margin-left: 2.5em;
    line-height: 26px;
}
.content .rightContainer .qa ul li p{
    padding-left: 2em;
}
/* 手機頁面隱藏 */
.colorPhone{
    display: none;
}
/* 現貨商品頁面 */
.content .productMenu{
    padding: 1em 2em;
    border-right: 3px solid rgb(238,238,238);
}
@media(max-width:1023px){
    .content .productMenu{
        border-right: none;
    }
}
.content .productMenu h3{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 1em;
}
.content .productMenu .productListContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content .productMenu .productListContainer .productList{
    width: 29.33333%;
    margin: 1% 2%;
    text-align: center;
    border-top: 1px solid rgb(238,238,238);
    border-left: 2px solid rgb(238,238,238);
    box-shadow: 2px 2px 2px rgb(128,128,128)
}
@media(max-width:740px){
    .content .productMenu .productListContainer .productList{
        width: 45%;
    }
}
.content .productMenu .productListContainer .productList span{
    display: block;
    padding: 1em 0;
    border-top: 3px solid rgb(238,238,238);
    font-weight: bold;
}
.content .productMenu .productListContainer .productList .priceBtn{
    display: flex;
    justify-content: space-between;
}
.content .productMenu .productListContainer .productList .priceBtn .price{
    text-align: center;
    width: 50%;
}
.content .productMenu .productListContainer .productList .priceBtn a{
    width: 50%;
}
.content .productMenu .productListContainer .productList .priceBtn button{
    border: none;
    width: 100%;
    height: 100%;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 16px;
}
.content .productMenu .productListContainer .productList .priceBtn button:hover{
    cursor: pointer;
    background-color: rgb(128,128,128);
    color: #fff;
}
.footer{
    width: 100%;
    background-color: rgb(238,238,238);
    text-align: center;
    padding: 5px;
    height: 24px;
}
/* 商品頁1 */
.rightContainer .product-1Container{
    padding: 1em 2em;
    border-top: 3px solid rgb(238,238,238);
    border-right: 3px solid rgb(238,238,238);
}
.rightContainer .product-1Container h2{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
}
.rightContainer .product-1Container h3{
    color: rgb(128,128,128);
    padding: 1em 2em;
    letter-spacing: 3px;
    font-size: 20px;
}
.rightContainer .product-1Container .product-1Pic{
    display: flex;
}
.rightContainer .product-1Container .product-1Pic .sizeChart{
    width: 40%;
}
.rightContainer .product-1Container .product-1Pic .smallPic{
    width: 60%;
}
.rightContainer .product-1Container .product-1Pic .smallPic .smallPicUp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.rightContainer .product-1Container .product-1Pic .smallPic .smallPicUp img{
    width: 31%;
    margin-bottom: 1%;
}
.rightContainer .product-1Container .product-1Pic .smallPic .smallPicUp .white{
    width: 31%;
    height: 1px;
}
.rightContainer .product-1Container .product-1Pic .smallPic .smallPicDown{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.rightContainer .product-1Container .product-1Pic .smallPic .smallPicDown img{
    width: 48%;
    margin-bottom: 1%;
}
/*map頁面 */
.rightContainer .mapContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid rgb(238,238,238);
}
.rightContainer .mapContainer .title{
    display: flex;
    justify-content: center;
    color: rgb(128,128,128);
    font-size: 24px;
    margin-top: 1em;
    position: relative;
}
.rightContainer .mapContainer .title i{
    position: absolute;
    top: -0.5em;
}
.rightContainer .mapContainer .title span{
    margin-left: 1.3em;
}
.rightContainer .mapContainer img{
    width: 70%;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.rightContainer .mapContainer .twoConnectionContainer{
    width: 70%;
    display: flex;
}
.rightContainer .mapContainer .twoConnectionContainer .companyName,.rightContainer .mapContainer .twoConnectionContainer .companyPhone{
    width: 50%;
}
.rightContainer .mapContainer .twoConnectionContainer .companyName .name,.rightContainer .mapContainer .twoConnectionContainer .companyPhone .phone,.rightContainer .mapContainer .companyAddress .addressName{
    color: rgb(128,128,128);
    border: 1px solid rgb(128,128,128);
    border-radius: 10px;
    width: 30%;
    text-align: center;
    letter-spacing: 3px;
    padding: 0.3em;
    margin-bottom: 0.5em;
}
.rightContainer .mapContainer .twoConnectionContainer .companyName .chineseName,.rightContainer .mapContainer .twoConnectionContainer .companyPhone .phoneNum{
    text-align: center;
    letter-spacing: 3px;
}
.rightContainer .mapContainer .companyAddress{
    width: 70%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.rightContainer .mapContainer .companyAddress .addressName{
    width: 15%;
}
.rightContainer .mapContainer .companyAddress .address{
    padding-left: 4.5em;
    margin-bottom: 0.5em;
}
@media(max-width:840px){
    .rightContainer .mapContainer .twoConnectionContainer{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .rightContainer .mapContainer .twoConnectionContainer .companyName,.rightContainer .mapContainer .twoConnectionContainer .companyPhone{
        margin-top: 1em;
        width: 70%;
    }
    .rightContainer .mapContainer .twoConnectionContainer .companyName .name,.rightContainer .mapContainer .twoConnectionContainer .companyPhone .phone,.rightContainer .mapContainer .companyAddress .addressName{
        width: 100%;
        background-color: rgb(190, 190, 190);
        color: #fff;
        font-weight: bold;
        border: none;
    }
    .rightContainer .mapContainer .companyAddress{
        margin-top: 1em;
    }
    .rightContainer .mapContainer .companyAddress .addressName{
        width: 100%;
    }
    .rightContainer .mapContainer .companyAddress .address{
        padding-left: 0;
        line-height: 22px;
    }
}
/* 公司權益頁面 */
.content .rightContainer .markContainer{
    border-right: 3px solid rgb(238,238,238);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}
@media(max-width:1023px){
    .content .rightContainer .markContainer{
        border-right: none;
    }
}
.content .rightContainer .markContainer .one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content .rightContainer .markContainer .one img{
    width: 20%;
}
.content .rightContainer .markContainer .two{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content .rightContainer .markContainer .two img{
    width: 25%;
}
.content .rightContainer .markContainer .three{
    display: flex;
    justify-content: space-around;
}
.content .rightContainer .markContainer .three img{
    width: 30%;
}
/* 布種＆色卡頁面 */
.rightContainer .color{
    padding-left: 2em;
    padding-top: 1em;
    border-top: 3px solid rgb(238,238,238);
    border-right: 3px solid rgb(238,238,238);
}
@media(max-width:1023px){
    .rightContainer .color{
        border-top: none;
        border-right: none;
    }
}
.rightContainer .color h2{
    font-size: 24px;
    font-weight: bold;
}
.rightContainer .color .poly,.rightContainer .color .cotton,.rightContainer .color .functionCloth{
    padding-top: 1em;
    padding-left: 2em;
}
.rightContainer .color .poly h3,.rightContainer .color .cotton h3,.rightContainer .color .functionCloth h3{
    font-size: 20px;
    color: rgb(128,128,128);
    padding-bottom: 1em;
}
.rightContainer .color .poly .polyImg,.rightContainer .color .cotton .cottonImg,.rightContainer .color .functionCloth .functionClothImg{
    padding-left: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.rightContainer .color .poly .polyImg .imgContainer,.rightContainer .color .cotton .cottonImg .imgContainer,.rightContainer .color .functionCloth .functionClothImg .imgContainer{
    width: 30%;
    padding-bottom: 2em;
}
.rightContainer .color .poly .polyImg .imgContainer p,.rightContainer .color .cotton .cottonImg .imgContainer p,.rightContainer .color .functionCloth .functionClothImg .imgContainer p{
    margin-top: 0.5em;
    text-align: center;
}
.rightContainer .color .poly a,.rightContainer .color .cotton a,.rightContainer .color .functionCloth a{
    text-decoration: none;
    color: #000;
}
.rightContainer .color .poly a p,.rightContainer .color .cotton a p,.rightContainer .color .functionCloth a p{
    padding: 5px;
}
.rightContainer .color .poly a p:hover,.rightContainer .color .cotton a p:hover,.rightContainer .color .functionCloth a p:hover{
    background-color: rgb(238,238,238);
    color: rgb(128,128,128);
}
/* 布種＆色卡-吸濕排汗布,棉質,機能布頁面 */
.rightContainer .colorPolyContainer,.rightContainer .colorCottonContainer,.rightContainer .colorFunctionClothContainer{
    padding-left: 2em;
    padding-top: 1em;
    border-top: 3px solid rgb(238,238,238);
    border-right: 3px solid rgb(238,238,238);
}
.rightContainer .colorPolyContainer h2,.rightContainer .colorCottonContainer h2,.rightContainer .colorFunctionClothContainer h2{
    font-size: 24px;
    font-weight: bold;
}
.rightContainer .colorPolyContainer .poly,.rightContainer .colorCottonContainer .cotton,.rightContainer .colorFunctionClothContainer .functionCloth{
    padding-top: 1em;
    padding-left: 2em;
}
.rightContainer .colorPolyContainer .poly h3,.rightContainer .colorCottonContainer .cotton h3,.rightContainer .colorFunctionClothContainer .functionCloth h3{
    font-size: 20px;
    color: rgb(128,128,128);
    padding-bottom: 1em;
}
.rightContainer .colorPolyContainer .poly .polyImg,.rightContainer .colorCottonContainer .cotton .cottonImg,.rightContainer .colorFunctionClothContainer .functionCloth .functionClothImg{
    padding: 0 1em 0 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.rightContainer .colorPolyContainer .poly .polyImg .imgContainer,.rightContainer .colorCottonContainer .cotton .cottonImg .imgContainer,.rightContainer .colorFunctionClothContainer .functionCloth .functionClothImg .imgContainer{
    padding-bottom: 2em;
}
.rightContainer .colorPolyContainer .poly .polyImg .imgContainer p,.rightContainer .colorCottonContainer .cotton .cottonImg .imgContainer p,.rightContainer .colorFunctionClothContainer .functionCloth .functionClothImg .imgContainer p{
    margin-top: 0.5em;
    text-align: center;
    font-size: 26px;
    letter-spacing: 5px;
}
/* 分類頁面 */
.content .classify{
    width: 15%;
    padding: 1.5em;
}
.content .classify ul{
    font-weight: bold;
    font-size: 20px;
    border-bottom: 5px solid rgb(238,238,238);
}
.content .classify ul .space{
    color: transparent;
}
.content .classify ul li{
    font-weight: normal;
    font-size: 16px;
}
.content .classify ul li a{
    text-decoration: none;
    color: rgb(128,128,128);
    display: block;
    padding: 0.5em 0;
}
.content .classify ul li a:hover{
    background-color: #fff;
}
.rightContainer .tshirtContainer,.rightContainer .lowerBodyContainer,.rightContainer .coatContainer,.rightContainer .coatVestContainer,.rightContainer .coatActivityContainer,.rightContainer .coatLongContainer,.rightContainer .otherArmbandContainer,.rightContainer .otherSportContainer,.rightContainer .otherHatContainer,.rightContainer .otherApronContainer,.rightContainer .otherStrapContainer,.rightContainer .otherScarfContainer,.rightContainer .otherSmallContainer{
    padding-left: 2em;
    padding-top: 2em;
}
@media(max-width:1023px){
    .rightContainer .tshirtContainer,.rightContainer .lowerBodyContainer,.rightContainer .lowerBodyContainer,.rightContainer .coatContainer,.rightContainer .coatVestContainer,.rightContainer .coatActivityContainer,.rightContainer .coatLongContainer,.rightContainer .otherArmbandContainer,.rightContainer .otherSportContainer,.rightContainer .otherHatContainer,.rightContainer .otherApronContainer,.rightContainer .otherStrapContainer,.rightContainer .otherScarfContainer,.rightContainer .otherSmallContainer{
        border-top: none;
        border-right: none;
    }
}
.rightContainer .tshirtContainer h3,.rightContainer .lowerBodyContainer h3,.rightContainer .coatContainer h3,.rightContainer .coatVestContainer h3,.rightContainer .coatActivityContainer h3,.rightContainer .coatLongContainer h3,.rightContainer .otherArmbandContainer h3,.rightContainer .otherSportContainer h3,.rightContainer .otherHatContainer h3,.rightContainer .otherApronContainer h3,.rightContainer .otherStrapContainer h3,.rightContainer .otherScarfContainer h3,.rightContainer .otherSmallContainer h3{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
}
.rightContainer .tshirtContainer p,.rightContainer .lowerBodyContainer p,.rightContainer .coatContainer p,.rightContainer .coatVestContainer p,.rightContainer .coatActivityContainer p,.rightContainer .coatLongContainer p,.rightContainer .otherArmbandContainer p,.rightContainer .otherSportContainer p,.rightContainer .otherHatContainer p,.rightContainer .otherApronContainer p,.rightContainer .otherStrapContainer p,.rightContainer .otherScarfContainer p,.rightContainer .otherSmallContainer p{
    margin-top: 1em;
    margin-left: 3.5em;
    font-size: 20px;
    margin-bottom: 0.5em;
}
.rightContainer .tshirtContainer .tshirtImg,.rightContainer .tshirtContainer .tshirtVestImg,.rightContainer .tshirtContainer .tshirtPoloImg,.rightContainer .tshirtContainer .tshirtBlouseImg,.rightContainer .tshirtContainer .tshirtHattImg,.rightContainer .lowerBodyContainer .lowerBodySkirtImg,.rightContainer .lowerBodyContainer .lowerBodyPantsImg,.rightContainer .coatContainer .coatExperimentImg,.rightContainer .coatVestContainer .coatVestImg,.rightContainer .coatActivityContainer .coatActivityImg,.rightContainer .coatLongContainer .coatLongImg,.rightContainer .otherArmbandContainer .otherArmbandImg,.rightContainer .otherSportContainer .otherSportImg,.rightContainer .otherHatContainer .otherHatImg,.rightContainer .otherApronContainer .otherApronImg,.rightContainer .otherStrapContainer .otherStrapImg,.rightContainer .otherScarfContainer .otherScarfImg,.rightContainer .otherSmallContainer .otherSmallImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.rightContainer .tshirtContainer .tshirtImg .tshirtImgBox,.rightContainer .tshirtContainer .tshirtVestImg .tshirtVestImgBox,.rightContainer .tshirtContainer .tshirtPoloImg .tshirtPoloImgBox,.rightContainer .tshirtContainer .tshirtBlouseImg .tshirtBlouseImgBox,.rightContainer .tshirtContainer .tshirtHattImg .tshirtHattImgBox,.rightContainer .lowerBodyContainer .lowerBodySkirtImg .lowerBodySkirtImgBox,.rightContainer .lowerBodyContainer .lowerBodyPantsImg .lowerBodyPantsImgBox,.rightContainer .coatContainer .coatExperimentImg .coatExperimentImgBox,.rightContainer .coatVestContainer .coatVestImg .coatVestImgBox,.rightContainer .coatActivityContainer .coatActivityImg .coatActivityImgBox,.rightContainer .coatLongContainer .coatLongImg .coatLongImgBox,.rightContainer .otherArmbandContainer .otherArmbandImg .otherArmbandImgBox,.rightContainer .otherSportContainer .otherSportImg .otherSportImgBox,.rightContainer .otherHatContainer .otherHatImg .otherHatImgBox,.rightContainer .otherApronContainer .otherApronImg .otherApronImgBox,.rightContainer .otherStrapContainer .otherStrapImg .otherStrapImgBox,.rightContainer .otherScarfContainer .otherScarfImg .otherScarfImgBox,.rightContainer .otherSmallContainer .otherSmallImg .otherSmallImgBox{
    width: 30%;
    margin: 1% 1% 2em 1%;
}
.rightContainer .coatActivityContainer .coatActivityImg .coatActivityImgBoxHalffull,.rightContainer .otherApronContainer .otherApronImg .otherApronImgBoxHalffull{
    width: 50%;
    margin-bottom: 1em;
}
.rightContainer .tshirtContainer .tshirtImg .tshirtImgBox p,.rightContainer .tshirtContainer .tshirtVestImg .tshirtVestImgBox p,.rightContainer .tshirtContainer .tshirtPoloImg .tshirtPoloImgBox p,.rightContainer .tshirtContainer .tshirtBlouseImg .tshirtBlouseImgBox p,.rightContainer .tshirtContainer .tshirtHattImg .tshirtHattImgBox p,.rightContainer .lowerBodyContainer .lowerBodySkirtImg .lowerBodySkirtImgBox p,.rightContainer .lowerBodyContainer .lowerBodyPantsImg .lowerBodyPantsImgBox p,.rightContainer .coatContainer .coatExperimentImg .coatExperimentImgBox p,.rightContainer .coatVestContainer .coatVestImg .coatVestImgBox p,.rightContainer .coatActivityContainer .coatActivityImg .coatActivityImgBox p,.rightContainer .coatLongContainer .coatLongImg .coatLongImgBox p,.rightContainer .otherArmbandContainer .otherArmbandImg .otherArmbandImgBox p,.rightContainer .otherSportContainer .otherSportImg .otherSportImgBox p,.rightContainer .otherHatContainer .otherHatImg .otherHatImgBox p,.rightContainer .otherApronContainer .otherApronImg .otherApronImgBox p,.rightContainer .otherStrapContainer .otherStrapImg .otherStrapImgBox p,.rightContainer .otherScarfContainer .otherScarfImg .otherScarfImgBox p,.rightContainer .otherSmallContainer .otherSmallImg .otherSmallImgBox p{
    font-size: 18px;
    margin-top: 0.5em;
    margin-left: 0;
    text-align: center;
}
.rightContainer .tshirtContainer740,.rightContainer .coatActivityContainer740,.rightContainer .coatLongContainer740,.rightContainer .coatVestContainer740,.rightContainer .coatContainer740,.rightContainer .lowerBodyContainer740,.rightContainer .otherSportContainer740,.rightContainer .otherSmallContainer740,.rightContainer .otherStrapContainer740,.rightContainer .otherHatContainer740,.rightContainer .otherApronContainer740,.rightContainer .otherArmbandContainer740,.rightContainer .otherScarfContainer740{
    display: none;
}
.footer p{
    width: 85%;
    float: right;
}
.footer p a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    letter-spacing: 3px;
}
.footer p a:hover{
    background-color: #fff;
}
@media(max-width:1023px){
    .header{
        display: flex;
        justify-content: center;
    }
    .header h1 a{
        width: 220px;
        height: 70px;
    }
    .content{
        display: block;
    }
    .content .rwdNone{
        display: none;
    }
    .content .deskTopNone{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .content .deskTopNone .deskTopNone-1{
        display: none;
    }
    .content .deskTopNone ul{
        width: 25%;
        text-align: center;
        font-size: 22px;
        letter-spacing: 3px;
    }
    .content .deskTopNone ul li{
        text-align: left;
    }
    .content .leftMean ul li a{
        font-size: 18px;
        letter-spacing: 2px;
        padding: 0.8em 0 0.8em 30%;
    }
    .content .rightContainer{
        width: 100%;
    }
    .content .rightContainer .threeLinksContainer{
        display: flex;
        flex-direction: row;
        align-items: left;
        padding: 0;
        border-right: none;
    }
    .content .rightContainer .threeLinks{
        display: flex;
    }
    .content .rightContainer .threeLinks .lineLink,.content .rightContainer .threeLinks .qaLink,.content .rightContainer .threeLinks .mapLink{
        margin-bottom: 0;
        padding: 1em 0;
    }
    .content .rightContainer .threeLinks .lineLink img,.content .rightContainer .threeLinks .qaLink img,.content .rightContainer .threeLinks .mapLink img{
        width: 10%;
    }
    .content .rightContainer .threeLinks .lineLink a,.content .rightContainer .threeLinks .qaLink a,.content .rightContainer .threeLinks .mapLink a{
        font-size: 14px;
        padding: 0.4em 0.5em 0.4em 2em;
    }
    .footer p{
        width: 100%;
    }
    .footer p a{
        padding: 0 1em;
    }
    /* QA頁面 */
    .content .rightContainer .qa ul span{
        border: 3px dashed rgb(238,238,238);
        width: 55%;
        margin: 0 auto;
        text-align: center;
        font-size: 24px;
        letter-spacing: 5px;
    }
    .content .rightContainer .qa ul li{
        font-size: 16px;
    }
}
@media(max-width:905px){
    .content .rightContainer .threeLinks{
        display: block;
        margin: 0 auto;
    }
    .content .rightContainer .threeLinks .lineLink a,.content .rightContainer .threeLinks .qaLink a,.content .rightContainer .threeLinks .mapLink a{
        font-size: 18px;
        padding: 1.5em 0.5em 1.5em 3em;
    }
}
@media(max-width:740px){
    .content .deskTopNone-one,.content .deskTopNone-two,.content .deskTopNone-three,.content .deskTopNone-four{
        display: block;
    }
    .content .deskTopNone ul hr{
        display: none;
    }
    .content .deskTopNone a{
        display: block;
        padding: 1em 0;
    }
    .content .deskTopNone a:hover{
        background-color: #fff;
        border-radius: 10px;
        cursor: pointer;
        color: rgb(128, 128, 128);
    }
    .content .deskTopNone ul li{
        display: none;
    }
    .footer p a{
        padding: 0 0.5em;
    }
    /* 打開清單1 */
    .content .deskTopNone-one{
        background-color: rgb(238,238,238);
        max-height: 0;
        overflow: hidden;
        z-index: 100;
        transition: 1s;
        width: 100%;
    }
    .content .deskTopNone-one ul{
        margin-top: 0.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content .deskTopNone-one ul span{
        margin-top: 0.5em;
        text-align: center;
        padding: 1em;
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 20px;
        border: 2px solid #000;
    }
    .content .deskTopNone-one ul li a{
        text-decoration: none;
        display: block;
        color: rgb(128,128,128);
        padding: 1em 0 1em 0 ;
        font-size: 16px;
    }
    .showmenu1 .deskTopNone-one{
        max-height: 320px;
        border-top: 5px solid #fff;
    }
    /* 打開清單2 */
    .content .deskTopNone-two{
        background-color: rgb(238,238,238);
        max-height: 0;
        overflow: hidden;
        z-index: 100;
        transition: 1s;
        width: 100%;
    }
    .content .deskTopNone-two ul{
        margin-top: 0.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content .deskTopNone-two ul span{
        margin-top: 0.5em;
        text-align: center;
        padding: 1em;
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 20px;
        border: 2px solid #000;
    }
    .content .deskTopNone-two ul li a{
        text-decoration: none;
        display: block;
        color: rgb(128,128,128);
        padding: 1em 0 1em 0 ;
        font-size: 16px;
    }
    .showmenu2 .deskTopNone-two{
        max-height: 270px;
        border-top: 5px solid #fff;
    }
    /* 打開清單3 */
    .content .deskTopNone-three{
        background-color: rgb(238,238,238);
        max-height: 0;
        overflow: hidden;
        z-index: 100;
        transition: 1s;
        width: 100%;
    }
    .content .deskTopNone-three ul{
        margin-top: 0.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content .deskTopNone-three ul span{
        margin-top: 0.5em;
        text-align: center;
        padding: 1em;
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 20px;
        border: 2px solid #000;
    }
    .content .deskTopNone-three ul li a{
        text-decoration: none;
        display: block;
        color: rgb(128,128,128);
        padding: 1em 0 1em 0 ;
        font-size: 16px;
    }
    .showmenu3 .deskTopNone-three{
        max-height: 170px;
        border-top: 5px solid #fff;
    }
    /* 打開清單4 */
    .content .deskTopNone-four{
        background-color: rgb(238,238,238);
        max-height: 0;
        overflow: hidden;
        z-index: 100;
        transition: 1s;
        width: 100%;
    }
    .content .deskTopNone-four ul{
        margin-top: 0.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content .deskTopNone-four ul span{
        margin-top: 0.5em;
        text-align: center;
        padding: 1em;
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 20px;
        border: 2px solid #000;
    }
    .content .deskTopNone-four ul li a{
        text-decoration: none;
        display: block;
        color: rgb(128,128,128);
        padding: 1em 0 1em 0 ;
        font-size: 16px;
    }
    .showmenu4 .deskTopNone-four{
        max-height: 410px;
        border-top: 5px solid #fff;
    }
}
@media(max-width:740px){
    .content .rightContainer .bigIndex{
        background-image: none;
        height: auto;
        border-top: none;
        border-bottom: none;
        border-right: none;
    }
    .content .rightContainer .bigIndex ul li{
        width: 33.33333%;
        height: auto;
    }
    .content .rightContainer .bigIndex ul li .upList ul{
        margin-left: 0.5em;
        margin-top: 0.3em;
    }
    .content .rightContainer .bigIndex ul li .upList ul li{
        width: 100%;
        font-size: 14px;
    }
    .content .rightContainer .bigIndex ul li .downList ul{
        right: 10px;
        bottom: 10px;
    }
    .content .rightContainer .bigIndex ul li .downList ul li{
        width: 100%;
        font-size: 14px;
    }
    .content .rightContainer .bigIndex ul li .onlyList ul{
        margin-top: 0.3em;
    }
    .content .rightContainer .bigIndex ul li .onlyList ul li{
        width: 100%;
        font-size: 14px;
    }
    .content .leftMean{
        padding: 0;
    }
    .content .leftMean ul a{
        font-size: 14px;
    }
    .content .deskTopNone-one ul span,.content .deskTopNone-two ul span,.content .deskTopNone-three ul span,.content .deskTopNone-four ul span{
        padding: 0.3em;
        font-size: 14px;
    }
    .content .deskTopNone-one ul li a,.content .deskTopNone-two ul li a,.content .deskTopNone-three ul li a,.content .deskTopNone-four ul li a{
        font-size: 13px;
    }
    .content .rightContainer .threeLinks .lineLink img,.content .rightContainer .threeLinks .qaLink img,.content .rightContainer .threeLinks .mapLink img{
        width: 15%;
        height: 50%;
    }
    .content .rightContainer .threeLinks .lineLink a,.content .rightContainer .threeLinks .qaLink a,.content .rightContainer .threeLinks .mapLink a{
        font-size: 14px;
        padding: 1em 1em 1em 2em;
    }
    .footer p a{
        font-size: 10px;
    }
    .footer p{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer p a{
        font-size: 12px;
    }
    /* indexProduct頁面 */
    .content .productMenu h3{
        font-size: 16px;
    }
    .content .productMenu .productListContainer .productList{
        width: 80%;
        margin-bottom: 1em;
    }
    /* 分類頁面740px */
    .rightContainer .tshirtContainer,.rightContainer .lowerBodyContainer,.rightContainer .coatContainer,.rightContainer .coatVestContainer,.rightContainer .coatActivityContainer,.rightContainer .coatLongContainer,.rightContainer .otherArmbandContainer,.rightContainer .otherSportContainer,.rightContainer .otherHatContainer,.rightContainer .otherApronContainer,.rightContainer .otherStrapContainer,.rightContainer .otherScarfContainer,.rightContainer .otherSmallContainer{
        display: none;
    }
    .rightContainer .tshirtContainer740,.rightContainer .coatActivityContainer740,.rightContainer .coatLongContainer740,.rightContainer .coatVestContainer740,.rightContainer .coatContainer740,.rightContainer .lowerBodyContainer740,.rightContainer .otherSportContainer740,.rightContainer .otherSmallContainer740,.rightContainer .otherStrapContainer740,.rightContainer .otherHatContainer740,.rightContainer .otherApronContainer740,.rightContainer .otherArmbandContainer740,.rightContainer .otherScarfContainer740{
        display: block;
    }
    .rightContainer .tshirtContainer740 h3,.rightContainer .lowerBodyContainer740 h3,.rightContainer .coatContainer740 h3,.rightContainer .coatVestContainer740 h3,.rightContainer .coatActivityContainer740 h3,.rightContainer .coatLongContainer740 h3,.rightContainer .otherArmbandContainer740 h3,.rightContainer .otherSportContainer740 h3,.rightContainer .otherHatContainer740 h3,.rightContainer .otherApronContainer740 h3,.rightContainer .otherStrapContainer740 h3,.rightContainer .otherScarfContainer740 h3,.rightContainer .otherSmallContainer740 h3{
        font-size: 16px;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-weight: bold;
    }
    .rightContainer .tshirtContainer740 p,.rightContainer .lowerBodyContainer740 p,.rightContainer .coatContainer740 p,.rightContainer .coatVestContainer740 p,.rightContainer .coatActivityContainer740 p,.rightContainer .coatLongContainer740 p,.rightContainer .otherArmbandContainer740 p,.rightContainer .otherSportContainer740 p,.rightContainer .otherHatContainer740 p,.rightContainer .otherApronContainer740 p,.rightContainer .otherStrapContainer740 p,.rightContainer .otherScarfContainer740 p,.rightContainer .otherSmallContainer740 p{
        font-size: 16px;
        margin-bottom: 1em;
        color: rgb(128, 128, 128);
        text-align: center;
    }
    .rightContainer .tshirtContainer740 .tshirtImg,.rightContainer .tshirtContainer740 .tshirtVestImg,.rightContainer .tshirtContainer740 .tshirtPoloImg,.rightContainer .tshirtContainer740 .tshirtBlouseImg,.rightContainer .tshirtContainer740 .tshirtHattImg,.rightContainer .lowerBodyContainer740 .lowerBodySkirtImg,.rightContainer .lowerBodyContainer740 .lowerBodyPantsImg,.rightContainer .coatContainer740 .coatExperimentImg,.rightContainer .coatVestContainer740 .coatVestImg,.rightContainer .coatActivityContainer740 .coatActivityImg,.rightContainer .coatLongContainer740 .coatLongImg,.rightContainer .otherArmbandContainer740 .otherArmbandImg,.rightContainer .otherSportContainer740 .otherSportImg,.rightContainer .otherHatContainer740 .otherHatImg,.rightContainer .otherApronContainer740 .otherApronImg,.rightContainer .otherStrapContainer740 .otherStrapImg,.rightContainer .otherScarfContainer740 .otherScarfImg,.rightContainer .otherSmallContainer740 .otherSmallImg{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .rightContainer .tshirtContainer740 .tshirtImg .tshirtImgBox,.rightContainer .tshirtContainer740 .tshirtVestImg .tshirtVestImgBox,.rightContainer .tshirtContainer740 .tshirtPoloImg .tshirtPoloImgBox,.rightContainer .tshirtContainer740 .tshirtBlouseImg .tshirtBlouseImgBox,.rightContainer .tshirtContainer740 .tshirtHattImg .tshirtHattImgBox,.rightContainer .lowerBodyContainer740 .lowerBodySkirtImg .lowerBodySkirtImgBox,.rightContainer .lowerBodyContainer740 .lowerBodyPantsImg .lowerBodyPantsImgBox,.rightContainer .coatContainer740 .coatExperimentImg .coatExperimentImgBox,.rightContainer .coatVestContainer740 .coatVestImg .coatVestImgBox,.rightContainer .coatActivityContainer740 .coatActivityImg .coatActivityImgBox,.rightContainer .coatLongContainer740 .coatLongImg .coatLongImgBox,.rightContainer .otherArmbandContainer740 .otherArmbandImg .otherArmbandImgBox,.rightContainer .otherSportContainer740 .otherSportImg .otherSportImgBox,.rightContainer .otherHatContainer740 .otherHatImg .otherHatImgBox,.rightContainer .otherApronContainer740 .otherApronImg .otherApronImgBox,.rightContainer .otherStrapContainer740 .otherStrapImg .otherStrapImgBox,.rightContainer .otherScarfContainer740 .otherScarfImg .otherScarfImgBox,.rightContainer .otherSmallContainer740 .otherSmallImg .otherSmallImgBox{
        width: 45%;
    }
    /* 手機740px */
    .content .rightContainer .qa{
        border-right: none;
        padding: 2em 1em;
    }
    .content .rightContainer .qa ul span{
        font-size: 14px;
        width: 100%;
        padding: 0.5em 0;
    }
    .content .rightContainer .qa ul li{
        font-size: 12px;
        line-height: 20px;
        margin-left: 0;
    }
}
@media(max-width:395px){
    .footer p a{
        font-size: 10px;
    }
    /* 布卡手機頁面 */
    .rightContainer .phone360None{
        display: none;
    }
    .rightContainer .colorPhone{
        display: block;
    }
    .rightContainer .colorPhone h2{
        margin-top: 0.5em;
        margin-left: 0.5em;
        font-size: 20px;
    }
    .rightContainer .colorPhone .poly .polyImg,.rightContainer .colorPhone .cotton .cottonImg,.rightContainer .colorPhone .functionCloth .functionClothImg{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .rightContainer .colorPhone .poly .polyImg .imgContainer,.rightContainer .colorPhone .cotton .cottonImg .imgContainer,.rightContainer .colorPhone .functionCloth .functionClothImg .imgContainer{
        width: 45%;
        padding-bottom: 0.5em;
    }
    .colorPhone .poly h3,.colorPhone .cotton h3,.colorPhone .functionCloth h3{
        margin-left: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 20px;
        font-weight: bold;
        color: rgb(128,128,128);
        letter-spacing: 5px;
    }
    .rightContainer .colorPhone .poly a,.rightContainer .colorPhone .cotton a,.rightContainer .colorPhone .functionCloth a{
        font-size: 14px;
        text-decoration: none;
        color: #000;
        text-align: center;
        margin-top: 0.3em;
    }
    /* 分類頁面360px */
    .rightContainer .tshirtContainer .tshirtImg .tshirtImgBox,.rightContainer .tshirtContainer .tshirtVestImg .tshirtVestImgBox,.rightContainer .tshirtContainer .tshirtPoloImg .tshirtPoloImgBox,.rightContainer .tshirtContainer .tshirtBlouseImg .tshirtBlouseImgBox,.rightContainer .tshirtContainer .tshirtHattImg .tshirtHattImgBox,.rightContainer .lowerBodyContainer .lowerBodySkirtImg .lowerBodySkirtImgBox,.rightContainer .lowerBodyContainer .lowerBodyPantsImg .lowerBodyPantsImgBox,.rightContainer .coatContainer .coatExperimentImg .coatExperimentImgBox,.rightContainer .coatVestContainer .coatVestImg .coatVestImgBox,.rightContainer .coatActivityContainer .coatActivityImg .coatActivityImgBox,.rightContainer .coatLongContainer .coatLongImg .coatLongImgBox,.rightContainer .otherArmbandContainer .otherArmbandImg .otherArmbandImgBox,.rightContainer .otherSportContainer .otherSportImg .otherSportImgBox,.rightContainer .otherHatContainer .otherHatImg .otherHatImgBox,.rightContainer .otherApronContainer .otherApronImg .otherApronImgBox,.rightContainer .otherStrapContainer .otherStrapImg .otherStrapImgBox,.rightContainer .otherScarfContainer .otherScarfImg .otherScarfImgBox,.rightContainer .otherSmallContainer .otherSmallImg .otherSmallImgBox{
        width: 80%;
    }
    .rightContainer .tshirtContainer h3,.rightContainer .lowerBodyContainer h3,.rightContainer .coatContainer h3,.rightContainer .coatVestContainer h3,.rightContainer .coatActivityContainer h3,.rightContainer .coatLongContainer h3,.rightContainer .otherArmbandContainer h3,.rightContainer .otherSportContainer h3,.rightContainer .otherHatContainer h3,.rightContainer .otherApronContainer h3,.rightContainer .otherStrapContainer h3,.rightContainer .otherScarfContainer h3,.rightContainer .otherSmallContainer h3{
        font-size: 14px;
    }
    .rightContainer .tshirtContainer p,.rightContainer .lowerBodyContainer p,.rightContainer .coatContainer p,.rightContainer .coatVestContainer p,.rightContainer .coatActivityContainer p,.rightContainer .coatLongContainer p,.rightContainer .otherArmbandContainer p,.rightContainer .otherSportContainer p,.rightContainer .otherHatContainer p,.rightContainer .otherApronContainer p,.rightContainer .otherStrapContainer p,.rightContainer .otherScarfContainer p,.rightContainer .otherSmallContainer p{
        font-size: 12px;
    }
    .rightContainer .tshirtContainer .tshirtImg .tshirtImgBox p,.rightContainer .tshirtContainer .tshirtVestImg .tshirtVestImgBox p,.rightContainer .tshirtContainer .tshirtPoloImg .tshirtPoloImgBox p,.rightContainer .tshirtContainer .tshirtBlouseImg .tshirtBlouseImgBox p,.rightContainer .tshirtContainer .tshirtHattImg .tshirtHattImgBox p,.rightContainer .lowerBodyContainer .lowerBodySkirtImg .lowerBodySkirtImgBox p,.rightContainer .lowerBodyContainer .lowerBodyPantsImg .lowerBodyPantsImgBox p,.rightContainer .coatContainer .coatExperimentImg .coatExperimentImgBox p,.rightContainer .coatVestContainer .coatVestImg .coatVestImgBox p,.rightContainer .coatActivityContainer .coatActivityImg .coatActivityImgBox p,.rightContainer .coatLongContainer .coatLongImg .coatLongImgBox p,.rightContainer .otherArmbandContainer .otherArmbandImg .otherArmbandImgBox p,.rightContainer .otherSportContainer .otherSportImg .otherSportImgBox p,.rightContainer .otherHatContainer .otherHatImg .otherHatImgBox p,.rightContainer .otherApronContainer .otherApronImg .otherApronImgBox p,.rightContainer .otherStrapContainer .otherStrapImg .otherStrapImgBox p,.rightContainer .otherScarfContainer .otherScarfImg .otherScarfImgBox p,.rightContainer .otherSmallContainer .otherSmallImg .otherSmallImgBox p{
        font-size: 16px;
    }
    /* 分類頁面360px-所有 */
    .rightContainer .tshirtContainer740 .tshirtImg .tshirtImgBox,.rightContainer .tshirtContainer740 .tshirtVestImg .tshirtVestImgBox,.rightContainer .tshirtContainer740 .tshirtPoloImg .tshirtPoloImgBox,.rightContainer .tshirtContainer740 .tshirtBlouseImg .tshirtBlouseImgBox,.rightContainer .tshirtContainer740 .tshirtHattImg .tshirtHattImgBox,.rightContainer .lowerBodyContainer740 .lowerBodySkirtImg .lowerBodySkirtImgBox,.rightContainer .lowerBodyContainer740 .lowerBodyPantsImg .lowerBodyPantsImgBox,.rightContainer .coatContainer740 .coatExperimentImg .coatExperimentImgBox,.rightContainer .coatVestContainer740 .coatVestImg .coatVestImgBox,.rightContainer .coatActivityContainer740 .coatActivityImg .coatActivityImgBox,.rightContainer .coatLongContainer740 .coatLongImg .coatLongImgBox,.rightContainer .otherArmbandContainer740 .otherArmbandImg .otherArmbandImgBox,.rightContainer .otherSportContainer740 .otherSportImg .otherSportImgBox,.rightContainer .otherHatContainer740 .otherHatImg .otherHatImgBox,.rightContainer .otherApronContainer740 .otherApronImg .otherApronImgBox,.rightContainer .otherStrapContainer740 .otherStrapImg .otherStrapImgBox,.rightContainer .otherScarfContainer740 .otherScarfImg .otherScarfImgBox,.rightContainer .otherSmallContainer740 .otherSmallImg .otherSmallImgBox{
        width: 80%;
    }
    .rightContainer .tshirtContainer740 .tshirtImg .tshirtImgBox img,.rightContainer .tshirtContainer740 .tshirtVestImg .tshirtVestImgBox img,.rightContainer .tshirtContainer740 .tshirtPoloImg .tshirtPoloImgBox img,.rightContainer .tshirtContainer740 .tshirtBlouseImg .tshirtBlouseImgBox img,.rightContainer .tshirtContainer740 .tshirtHattImg .tshirtHattImgBox img,.rightContainer .lowerBodyContainer740 .lowerBodySkirtImg .lowerBodySkirtImgBox img,.rightContainer .lowerBodyContainer740 .lowerBodyPantsImg .lowerBodyPantsImgBox img,.rightContainer .coatContainer740 .coatExperimentImg .coatExperimentImgBox img,.rightContainer .coatVestContainer740 .coatVestImg .coatVestImgBox img,.rightContainer .coatActivityContainer740 .coatActivityImg .coatActivityImgBox img,.rightContainer .coatLongContainer740 .coatLongImg .coatLongImgBox img,.rightContainer .otherArmbandContainer740 .otherArmbandImg .otherArmbandImgBox img,.rightContainer .otherSportContainer740 .otherSportImg .otherSportImgBox img,.rightContainer .otherHatContainer740 .otherHatImg .otherHatImgBox img,.rightContainer .otherApronContainer740 .otherApronImg .otherApronImgBox img,.rightContainer .otherStrapContainer740 .otherStrapImg .otherStrapImgBox img,.rightContainer .otherScarfContainer740 .otherScarfImg .otherScarfImgBox img,.rightContainer .otherSmallContainer740 .otherSmallImg .otherSmallImgBox img{
        display: block;
        margin: 0 auto;
    }
    .rightContainer .tshirtContainer740 .tshirtImg .tshirtImgBox p,.rightContainer .tshirtContainer740 .tshirtVestImg .tshirtVestImgBox p,.rightContainer .tshirtContainer740 .tshirtPoloImg .tshirtPoloImgBox p,.rightContainer .tshirtContainer740 .tshirtBlouseImg .tshirtBlouseImgBox p,.rightContainer .tshirtContainer740 .tshirtHattImg .tshirtHattImgBox p,.rightContainer .lowerBodyContainer740 .lowerBodySkirtImg .lowerBodySkirtImgBox p,.rightContainer .lowerBodyContainer740 .lowerBodyPantsImg .lowerBodyPantsImgBox p,.rightContainer .coatContainer740 .coatExperimentImg .coatExperimentImgBox p,.rightContainer .coatVestContainer740 .coatVestImg .coatVestImgBox p,.rightContainer .coatActivityContainer740 .coatActivityImg .coatActivityImgBox p,.rightContainer .coatLongContainer740 .coatLongImg .coatLongImgBox p,.rightContainer .otherArmbandContainer740 .otherArmbandImg .otherArmbandImgBox p,.rightContainer .otherSportContainer740 .otherSportImg .otherSportImgBox p,.rightContainer .otherHatContainer740 .otherHatImg .otherHatImgBox p,.rightContainer .otherApronContainer740 .otherApronImg .otherApronImgBox p,.rightContainer .otherStrapContainer740 .otherStrapImg .otherStrapImgBox p,.rightContainer .otherScarfContainer740 .otherScarfImg .otherScarfImgBox p,.rightContainer .otherSmallContainer740 .otherSmallImg .otherSmallImgBox p{
        margin-top: 0.5em;
    }
    /* map手機版 */
    .rightContainer .mapContainer .twoConnectionContainer .companyName,.rightContainer .mapContainer .twoConnectionContainer .companyPhone{
        font-size: 12px;
    }
    .rightContainer .mapContainer .twoConnectionContainer .companyName .name,.rightContainer .mapContainer .twoConnectionContainer .companyPhone .phone,.rightContainer .mapContainer .companyAddress .addressName{
        font-size: 14px;
    }
    .rightContainer .mapContainer .companyAddress .addressName{
        font-size: 14px;
    }
    .rightContainer .mapContainer .companyAddress .address{
        font-size: 12px;
    }
}